body {
  background-color: #1b2838;
}
.card {
  background-color: #16202d;
  color: #acb2b8;
}
.card:hover {
  background-color: #101822;
}
.card a {
  color: #ffffff;
}
.card a:hover {
  text-decoration: none;
}
.list-group {
  margin-top: 1.5rem !important;
}
.list-group-item {
  background-color: #1b2838;
  border-color: #323e4c;
  color: #9fbbcb;
}
.list-group-item:hover {
  color: #cdb75f;
  text-decoration: none;
}
.container {
  max-width: 90%;
}
.nav-link {
  font-size: 32px;
}
.currentpage {
  color: #cdb75f !important;
}
.cart-btn {
  background-color: #cdb75f;
  color: #000000;
  border-radius: 8px;
}
.toprightnumber {
  position: absolute;
  top: 5px;
  right: -5px;
  border-radius: 100%;
  width: 26px;
  height: 26px;
  background: #cdb75f;
  color: #ffffff;
  font-size: 18px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
